.P1 {
    display: block;
    text-align: center;
    font-size: 40px;
}

.Verse {
    font-size: 17px;
    text-align: center;
    color: #575757;
}

.PR {
    width: 25%;

    height: 832px;

}

div {
    text-align: center;
    display: inline-block;
}

.IMG {}

.EM3 {
    color: #575757;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

.div1 {
    width: 65%;

}

.p3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}



































/* 
style="Width
 
        position: absolute;
        width: 383px;
        height: 832px;
        left: 1002px;
        top: 134px;" */

/* text-align: center; position: 
        absolute;
        width: 448px;
        height: 720px;
        left: 274px;
        top: 215px; */